.texte {
  color: aqua;
  text-align: center;
  font-size: 35px;
}

.texte h1 {
  color: aqua;
  text-align: center;
  font-size: 50px;
}
.texte h2 {
  color: aqua;
  text-align: center;
  font-size: 80px;
}
.botao {
  color: black;
}
